---
- name: install git
  apt:
    name:
      - git
      - fd-find
    state: present
  become: yes


- name: create symlink fd
  file:
    src: /usr/bin/fdfind
    dest: /usr/local/bin/find
    state: link


- name: create {{ home }}/apps directory
  file:
    path: '{{ home }}/apps'
    state: directory


- name: download bashrc from git
  git:
    repo: "https://github.com/OpsCharlie/bash.git"
    dest: '{{ home }}/apps/bash'
  register: git


- name: deploy bash config
  command: 'bash {{ home }}/apps/bash/__deploy.sh'
  when: git.changed


- name: copy bash theme
  copy:
    src: base16-railscasts.dark.sh
    dest: '{{ home }}/Downloads'
  register: theme


- name: run bash theme
  shell: 'bash {{ home }}/Downloads/base16-railscasts.dark.sh'
  when: theme.changed
