[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=OpenXenManager
Icon=/opt/openxenmanager/AppIcon.ico
Path=/usr/local/bin
Exec=openxenmanager
StartupNotify=false
StartupWMClass=Openxenmanager
OnlyShowIn=Unity;
X-UnityGenerated=true
