[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Franz
Icon=franz.png
Path=/home/carl/Franz/
Exec=/home/carl/Franz/Franz
StartupNotify=false
StartupWMClass=Franz
OnlyShowIn=Unity;
X-UnityGenerated=true
