[Desktop Entry]
Type=Application
Exec=/usr/bin/radiotray
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Radio
Name=Radio
Comment[en_US]=
Comment=
